<h1>Report New Crime</h1>
<form id="newCrimeReportEntry">
    <fieldset>
            <input type="hidden" id="userid" name="userid" value="1">
        <lable>Report Title:<br>
            <input type="text" id="title" name="title" size="30" maxlength="128">
        </lable><br>
        <lable>description:<br>
            <input type="text" id="description" name="description" size"60" maxlength="256">
        </lable><br>
        <lable>Street Address:<br>
            <input type="text" id="street" name="street" size"30" maxlength="64">
        </lable><br>
        <lable>City:<br>
            <input type="text" id="city" name="city" size"30" maxlength="64">
        </lable><br>
        <lable>State:<br>
            <input type="text" id="state" name="state" size"30" maxlength="64">
        </lable><br>
        <lable>Date:<br>
            <input type="date" id="date" name="date">
        </lable><br>
            <input type="hidden" id="status" name="status" value="new report">
	<lable>Severity: 5 is an emergency - 1 is low priority report<br>
            <input type="number" id="severity" name="severity" size="30" maxlength="32">
        </lable><br>
	<lable>Crime Type:<br>
            <input type="text" id="crimetype" name="crimetype" size="30" maxlength="64">
        </lable><br>
        <input type="submit" id="addCrimeReport" value="SUBMIT">
    </fieldset>    
</form>
<form action="http://flip2.engr.oregonstate.edu:8912/reportcrime">
    <input type="submit" value="Refresh">
</form>
<form action="http://flip2.engr.oregonstate.edu:31349">
    <input type="submit" value="Return to Main">
</form>
<h1>Recent Crime Reports</h1>
<span id="tableContent">
<table border="1">
    <thead>
        <tr>
            <th>Report Number</th>
            <th>Report Title</th>
            <th>Description</th>
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {{#each results}}
        <tr border>
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.street}}</td>
            <td>{{this.city}}</td>
            <td>{{this.state}}</td>
            <td>{{this.date}}</td>
	    <td>{{this.status}}</td>
        </tr>
    {{/each}}
    </span>
    </tbody>
</table>
<script>
        document.addEventListener('DOMContentLoaded', addCrimeReport);

        function addCrimeReport(){
           console.log("addData!");
           document.querySelector('#newCrimeReportEntry').addEventListener('submit', function(event){
              event.preventDefault();
              var request = new XMLHttpRequest();
              var data = {useridInsert:null, titleInsert:null, descriptionInsert:null, streetInsert:null, cityInsert:null, stateInsert:null, dateInsert:null, statusInster:null, severityInsert:null, crimetypeInsert:null};
              data.useridInsert = document.getElementById("userid").value;
              data.titleInsert = document.getElementById("title").value;
              data.descriptionInsert = document.getElementById("description").value;
              data.streetInsert = document.getElementById("street").value;
              data.cityInsert = document.getElementById("city").value;
              data.stateInsert = document.getElementById("state").value;
              data.dateInsert = document.getElementById("date").value;
	      data.statusInsert = document.getElementById("status").value;
	      data.severityInsert = document.getElementById("severity").value;
	      data.crimetypeInsert = document.getElementById("crimetype").value;
              console.log(data.titleInsert);
              request.open("GET", "http://flip2.engr.oregonstate.edu:8912/insert-crimereport?userid=" + data.useridInsert + "&title=" + data.titleInsert + "&description=" + data.descriptionInsert + "&street=" + data.streetInsert + "&city=" + data.cityInsert + "&state=" + data.stateInsert + "&date=" + data.dateInsert + "&status=" + data.statusInsert + "&severity=" + data.severityInsert + "&crimetype=" + data.crimetypeInsert, true);
              console.log("Data Added!");
              request.send(null);
         event.preventDefault();
         })
       }
</script>
